{% extends "base.html" %}


{% block title %}About{% endblock %}


{% block content %}
    <h1>About Privatar</h1>

    <p>Privatar was created after a throw away comment that someone should make
    a version of Gravatar that did not have the privacy issues. Rather than
    reimplement Gravatar though a proxy was created.</p>

    <p>Initially the code was prototyped in Perl and then ported to Python once
    the problem was understood. Python was chosen so that the proxy could run on
    Google's App Engine. Hopefully libraries will be written in lots of
    languages to make it as easy as possible to use.</p>

    <p>This is still a work in progess - feel free to help out. The code is on
    <a href="http://www.github.com/evdb/privatar">GitHub</a>.</p>

{% endblock %}
