<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type' /> 
        <link href="/static/reset.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="/static/main.css"  media="all" rel="stylesheet" type="text/css"/> 
        <title>{% block title %}{% endblock %} :: Privatar</title>
    </head>
    <body>

        <div id="outer-wrapper">

            <div id="login-status">
                {% if person %}
                    <img src="{{ person.email|privatar_url_from_email }}?s=16" height="16" width="16">
                    {{ person.email }}
                    (<a href="{{ logout_url }}">log out</a>)
                {% else %}    
                    <a href="{{ login_url }}">log in</a>
                {% endif %}    
            </div>

            <div id="inner-wrapper">
                
                <div id="header" class="divider">
                    <a id="logo" href="/"><img src="/static/logo.png" height="80" width="80"></a>
                    <h1>Privatar</h1>
                    <h2>The Privacy Enhancing Gravatar Proxy</h2>
                </div>
                
                <div id="content" class="divider">
                    {% block content %}REPLACE ME{% endblock %}
                </div>
                
                <div id="footer">
                    <div class="copyright">
                        &copy; 2011 <a href="http://www.privatar.org">privatar.org</a>
                    </div>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/gravatar">About Gravatar</a></li>
                        <li><a href="/site/">Create Privatar urls</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    
        {% if not on_dev_server %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22543349-1']);
          _gaq.push(['_setDomainName', 'none']);
          _gaq.push(['_setAllowLinker', true]);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% endif %}
    </body>
</html>
