<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>{% block title %}{% endblock %} :: Privatar</title>
    </head>
    <body>

        <div id="header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/site/">Create Privatar urls</a></li>

                {% if person %}
                    <li>
                        <img src="{{ person.email|privatar_url_from_email }}?s=16" height="16" width="16">
                        {{ person.email }}
                        (<a href="{{ logout_url }}">log out</a>)
                    </li>
                {% endif %}

            </ul>
            <hr/>
        </div>

        <div id="content">
            {% block content %}REPLACE ME{% endblock %}
        </div>

        <div id="footer">
            <hr/>
        </div>

    </body>
</html>
